/* dark theme  */

:root{
	--color-nav-btn: rgb(63, 41, 12);
	--color-nav-bg:  rgba(80, 54, 37, 0.8);
	/* background */
	--color-primary: rgb(155, 148, 139);
	/* bg shades  */
	--color-bg-prime: rgb(126, 109, 85);
	--color-bg-second: rgb(102, 80, 48);
	/* font colors */
	--color-font-prime: rgb(255, 255, 255);
	--color-font-second: rgb(0, 0, 0);
	/* boarder colors */
	--color-border-light: rgb(134, 154, 161);
	--color-border-med: rgb(58, 58, 58);
	--color-border-dark: rgb(22, 22, 22);
	--color-border-img: rgb(59, 51, 35);
	--color-border-active: rgb(22, 22, 22);

	--image-theme: url("../img/moon_white.svg");
	--image-bean: url("../img/bean_black1.svg");

}